{:paths ["src" "test"],
 :deps
 {gnl/ghostwheel {:mvn/version "0.3.9"},
  metosin/spec-tools {:mvn/version "0.10.1"},
  com.rpl/specter {:mvn/version "1.1.3"},
  org.clojure/tools.logging {:mvn/version "0.4.1"}
  cse/clj-lp
  {:git/url "https://github.com/cse-bristol/clj-lp.git",
   :tag "HEAD",
   :sha "2c099ad77461e3c1b07bb0d34494d76edd2d0467"}}}
